##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Gradle
##############################
bin/
build/
.gradle/6.8/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar